body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#map{
    display: block;
    position:absolute;
    height:auto;
    bottom:0;
    top:30px;
    left:0;
    right:0;
    margin: 0px 32em 0em 0px;
    z-index:100;
    opacity: .99;
    border-bottom: 1px solid white;
}
#lines{
    border-color: red;
    border-width: 3px;
    cursor: pointer;
}
#right{
    position: absolute;
    right: 0;
    top: 0;
    width: 500px;
}
#mapsvg{
    z-index: 9000;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}
.ukd-0{
    stroke: rgb(158, 205, 229);
}
.line-base{
    fill-opacity: 0;
    cursor: pointer;
}
.line-base:hover{
    fill-opacity: 0;
    cursor: pointer;
    margin: 5px;
    stroke: orange;
}

.polygon-base{
    fill-opacity: 0.7;
    cursor: pointer;
    stroke: lightblue;
    stroke-opacity: 0.5;
}
.polygon-base:hover{
    fill-opacity: 0.9;
    cursor: pointer;
    margin: 4px;
    stroke-width: 3px;
    stroke: orange;
    stroke-opacity: 1.0;
}

.profile{
    fill: blue;
    stroke-width: 0;
    pointer-events: none;
}

div.tooltip {
    position: absolute;
    text-align: left;
    padding: 5px;
    font: 12px sans-serif bold;
    background: white;
    border-radius: 8px;
    border: 5px #4F6F98;
    pointer-events: none;
    z-index: 9999;
}

.faq-main-header, .faq-main-section, .faq-subheader, .faq-subsection {
    cursor: pointer;
}

.wgl-about-win {
    width: 800px !important;
}

.wgl-legend-win {
    width: 670px !important;
}

@media screen and (max-width: 1366px) {

    .wgl-about-win {
        width: 700px !important;
    }

    .wgl-legend-win {
        width: 460px !important;
    }

}