.pc_background{
    background-color: rgb(14, 14, 14);
    margin-right: 1em;
}

.pc_chart_div {
    position:absolute;
    height: 16.5em;
    width:100%;
    bottom:0;
}

.pc_chart_parent {
    overflow-y:hidden;
    overflow-x:hidden;
    position:absolute;
    height: 18em;
    left:0;
    right:0;
    border-top-width:1px;
    border-top-style: solid;
    border-top-color:white;
    margin-right:32em;
    bottom:0;
    box-shadow: -0px 0px 4px white;
}
.pc_chart_big{
    margin-right:0em;
}
.selectionlabel {
    color:white;
}
.chart rect {
    fill: steelblue;
}

.chart text {
    fill: white;
    font: 10px sans-serif;
    text-anchor: end;
}

.brush{
    fill: grey;
    stroke: #ff8c00;
    stroke-opacity: 1.0;
    stroke-width: 2;
}

.selected.bar {
    fill: #ff8c00;
}

.unselected.bar {
    fill: #7b6888;
}

.out.bar {
    fill: #98abc5;
}

.axis text {
    font: 10px sans-serif;
}
.axis_pc text {
    font: 10px sans-serif;
    fill: white;
    stroke: none;
}

.l text {
    font: 10px sans-serif;
}


.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}


.axis_pc {
    fill: none;
    stroke: white;
    shape-rendering: crispEdges;
    font: 10px sans-serif;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
    shape-rendering: optimizeSpeed ;

}

.point {

    stroke-width: 0.0005px;
    z-index: 2000;
    fill: #000;
    fill-opacity: .8;
    stroke: #fff;
}

.l {
    cursor: pointer;
    stroke: #000;
}
.grid-background {
    fill: #ddd;
}

.grid line,
.grid path {
    fill: none;
}

.x.axis path {
    display: none;
}

.control {
    position: relative;
    margin: 1em;
    z-index: 2000;

}

.slider {
    position:absolute;
    right:0em;
    top:0em;
    width: 26em;
}
.slider_v {
    position:absolute;
    right: -3em;
    top:6em;
    width: 10em;
    height: 1em;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    transform: rotate(270deg);
}

.brush .extent {

    fill-opacity: .125;
    shape-rendering: crispEdges;
}
#loga{
    margin: 1em;
}
#cross{
    position: absolute;
    top: 0;
    right: 32em;
    z-index: 102;
    cursor: pointer;
    color: white;
    /*background-color: white;*/
}
#cross.active{
    position: absolute;
    top: 0;
    right: 0px;
    z-index: 102;
}
.ii{
    cursor: pointer;
    position: absolute;
    right: 1em;
    bottom: -4px;
}
.color-selected{
    color: #ff8c00;
}
.color-unselected{
    color: #7b6888;
}
.color-out{
    color: #98abc5;
}
