div.tooltipster-box {
    border: 0px !important;
}

div.tooltipster-content {
    padding: 0px !important;
}

.tooltipster-header {
    background: #122330;
    color: white;
    width: 100%;
    padding-right: 10px;
    height: 35px;
    text-align: center;
    text-transform: uppercase;
    display: table;
}

.tooltipster-title {
    display: table-cell;
    vertical-align: middle;
}

.tooltipster-close {
    display: table-cell;
    vertical-align: middle;
    width: 10px;
    cursor: pointer;
}

.tooltipster-text {
    padding: 20px;
}

.tooltipster-legend-out {
    width: 40px;
    height: 40px;
    background: #e3e4e4;
    padding-right: 20px;
}

.tooltipster-legend-unselected {
    width: 40px;
    height: 40px;
    background: #8cc5f9;
    padding-right: 20px;
}

.tooltipster-legend-selected {
    width: 40px;
    height: 40px;
    background: #ffa91b;
    padding-right: 20px;
}

.tooltipster-legend-text {
    padding-left: 20px;
}

.tooltipster-legend-zoom-to {
    width: 40px;
    height: 40px;
    text-align: center;
}