/*
    CSS rules for the WGL.ui.LeftMenuComponent
 */

.hamburger-menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 10px 15px;
    color: #8d9ba3;
}

.hamburger-menu:hover {
    color: #ff8c00;
}

.hamburger-menu-active {
    color: #ff8c00;
}

.hamburger-menu i, .hamburger-menu-active i {
    font-size: 24pt;
}

.side-navbar-wrapper {
    width: 26em;
    position: absolute;
    left: 0;
    background-color: #122330;
    z-index: 1001;
    font-size: 13px;
}

.side-navbar-title {
    padding-left: 2em;
}

.side-navbar-section {
    color: white;
    padding: 0.5em 1.5em;
    line-height: 1.2em;
}

.side-navbar-section-options {
    padding-left: 2.5em;
    padding-top: 0.5em;
}

.side-navbar-section-options:hover {
    color: #ff8c00;
}

.layer-selected {
    color: #ff8c00;

}

.height-default {
    height: 32px;
}

.line-height-default {
    line-height: 30px;
}

.line-height-title {
    line-height: 30px;
}

.height-title {
    height: 30px;
}

.padding-left-half-em {
    padding-left: 0.5em;
}

.icon-margin-top-adjust {
    margin-top: 2px;
}

/* button colors */

.color-scheme-btn img {
    width: 24px;
    border-radius: 6px;
}

.line-height-color-options {
    line-height: 30px;
    vertical-align: middle;
}

.heatmap-radius {
    position: relative;
    z-index:2000;
    width: 100%;
    height: 120px;
    padding: 1em 0em 1em 1em;
    color: white;
    margin-top: 1.5em;
}

.range-control {
    right: 0.4em;
    top: 1.8em;
    width: 67%;
    position: absolute;
}

#heatmap-legend .axis text {
    fill: white;
}

.hm-density-title {
    position: relative;
    top: 10px;
}

@media screen and (max-width: 1366px) {

    .side-navbar-wrapper {
        font-size: 9px;
    }

    .side-navbar-section-options {
        padding-top: 1em;
        height: 3.4em;
    }

    .height-default {
        height: 32px;
    }

    .line-height-default {
        line-height: 30px;
    }

    .line-height-title {
        line-height: 25px;
    }

    .height-title {
        height: 25px;
    }
}