/*
    CSS rules for the WGL.ui.LoadingBar component
 */

.loading-wgl {
    position: fixed;
    width: 100%;
    bottom: 10%;
    z-index: 1000;
    text-align: center;
}

@media screen and (max-width: 1366px) {

    .loading-wgl {
        font-size: 9px;
    }

}