/*
    CSS rules for the WGL.ui.MapLinks component
 */

.map-links {
    bottom: 0;
    z-index:9999;
    position:absolute;
    font-size: smaller;
    color: #8d9ba3;
    background: whitesmoke;
    opacity: 0.60;
    padding: 3px 5px;
    left: 0;
}

.map-links a {
    color: #50a7f9;
    text-decoration: none;
}