/*
    CSS rules for the WGL.ui.Map component
 */

div.map {
    display: block;
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin: 0 35.5em 0 0;
    z-index:99;
    opacity: .99;
    border-bottom: 1px solid white;
}

div.map.fullscreen {
    margin-right:0;
}

@media screen and (max-width: 1366px) {

    div.map {
        margin-right: 28.5em;
    }

}