/*
    CSS rules for the WGL.ui.RightChartsComponent component
 */

.charts-menu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    padding: 10px 15px;
    color: #8d9ba3;
}

.charts-menu:hover {
    color: #ff8c00;
}

.charts-menu-active {
    color: #ff8c00;
}

.charts-menu i, .charts-menu-active i {
    font-size: 24pt;
}

/***** Scrollbar *******/

.scrollbar
{
    margin-left: 30px;
    float: left;
    background: white;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 25px;
}

.style-1::-webkit-scrollbar-track
{
    border-radius: 10px;
    background-color: white;
}

.style-1::-webkit-scrollbar
{
    width: 9px;
    background-color: white;
}

.style-1::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background: rgba(0,0,0,.2);
}