/*
    CSS rules for the WGL.ui.WindowDialog component
 */

.win-wrapper {
    line-height: 1.3em;
    position: absolute;
    height: 100%;
    width: 100%;
}

.wgl-dialog-win .popup-value {
    white-space: pre-line;
}

.wgl-dialog-win {
    z-index: 1001;
    background-color: white;
    color: black;
    border-radius: 4px;
    width: 585px;
    font-size: 13px;
    margin: 20px auto;
}

.wgl-dialog-win.wgl-active {
    visibility: visible;
}

.wgl-dialog-close {
    top: 5px;
    right: 5px;
    position: absolute;
    cursor: pointer;
    color: #b7bdbb;
    font-size: 18pt;
}

.wgl-dialog-head {
    position: relative;
    text-align: center;
    padding: 10px 20px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #122330;
    color: white;
}

.wgl-dialog-context {
    padding: 10px 20px 30px;
}

@media screen and (max-width: 1366px) {

    .win-wrapper {
        line-height: 0.9em;
        top: -8%;
    }

    .wgl-dialog-win {
        font-size: 9px;
    }

    .wgl.wgl-dialog-close {
        font-size: 13pt;
    }
}